			</div>
		</div>
		<div class="movie-footer centerVertical flex-column">
			<p>本网页所提供的信息，只供学习参考之用，详情请移步各官网</p>
		</div>
	</div>
</div>
<script src="/js/pace.min.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/common.js"></script>
<script>
	if(!FUNC.explorerVersion()) {
		document.getElementById('tip').style.display = 'block';
	}

	var clipboard = new Clipboard('.copy-btn');

	clipboard.on('success', function(e) {
	    FUNC.toast('复制链接成功');
	    e.clearSelection();
	});

	clipboard.on('error', function(e) {
	    FUNC.toast('复制链接失败');
	});
</script>
</body>
</html>
