.flexbox{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
}
.flex1{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;             
    -webkit-flex: 1;    
    -ms-flex: 1;
    flex: 1;
}
.centerbox{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.verticalbox{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.centerVertical{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-column{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.equalHeight:before{
    content: '';
    display: block;
    padding-bottom: 133%;
    width: 0px;
}
.option-button{
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 13px;
    background-color: #444;
    color: #fff;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
}
.option-button:hover{
    background-color: #555;
}
.toast{
    position: fixed;
    bottom: 10%;
    left: 50%;
    z-index: 1000;
    margin: 90% auto 0;
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #333;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: opacity 0.3s;
}
.border-bottom::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ccc;
}
