.app{
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	position: fixed;
  	left: 0;
  	top: 0;
  	z-index: 10;
  	width: 100%;
  	height: 100%;
  	min-width: 800px;
  	color: #333;
  	font-size: 15px;
  	overflow: hidden;
  	background-color: #f0f0f0;
}

.app .movie-wrapper{
    height: 100%;
}
.app .movie-wrapper .movie-heading{
  	position: fixed;
  	width: 100%;
  	min-width: 800px;
  	height: 60px;
  	z-index: 100;
}
.app .movie-wrapper .movie-footer{
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.movie-heading .movie-search-wrapper{
	width: 800px;
	height: 40px;
}
.movie-heading .movie-search-wrapper .search-form{
  width: 100%;
  height: 100%;
  border: 1px solid #444;
  border-radius: 20px;
  position: relative;
}
.movie-heading .movie-search-wrapper .search-webname{
  width: 100px;
}
.movie-heading .movie-search-wrapper .search-select{
  border: none;
  outline: none;
  background-color: transparent;
  width: auto;
  padding: 0 2%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.movie-heading .movie-search-wrapper .search-select option{
  text-align: center;
}
.movie-heading .movie-search-wrapper .search-input{
	border: none;
	outline: none;
	background-color: transparent;
	padding: 5px 10px;
}
.movie-heading .movie-search-wrapper .search-btn{
	width: 100px;
  height: 100%;
  border: none;
  outline: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
  text-align: center;
}
.app .movie-wrapper .movie-content{
  	position: relative;
  	width: 800px;
  	height: 100%;
  	overflow: hidden;
  	margin: 0 auto;
  	padding-top: 60px;
    padding-bottom: 50px;
}
.movie-content .movie-tabbar{
	height: 40px;
	line-height: 40px;
	margin: 10px 0; 
}
#tip{
  display: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.movie-content .movie-tabbar .tabbar-item{
	text-align: center;
	border-bottom: 1px solid #333;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.movie-content .movie-tabbar .tabbar-item:hover{
	color: #666;
}
.movie-content .movie-tabbar .tabbar-item.active{
	border: 1px solid #333;
	border-bottom: none;
}

.movie-container{
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
  padding: 0 20px 30px;
}
.movie-title{
  text-align: center;
  margin: 20px 0 10px;
}
.movie-title:first-child{
  margin-top: 0;
}

.tip{
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 15px;
}
.tip.tip1{
  margin-top: 5px;
}

.list-wrapper{
  margin-top: 20px;
}

.block-wrapper{
  overflow: hidden;
}
.block-wrapper .block-item{
  float: left;
  margin-top: 15px;
}
.block-wrapper .block-item:hover{
  background-color: #fff;
}
.block-wrapper .block-item1{
  width: 22%;
  margin-left: 4%;
}
.block-wrapper .block-item1:nth-child(4n+1){
  margin-left: 0;
}
.block-wrapper .block-item2{
  width: 15%;
  margin-left: 2%;
}
.block-wrapper .block-item2:nth-child(6n+1){
  margin-left: 0;
}

.block-wrapper .block-item .item-poster{
  position: relative;
  background-color: #ccc;
}
.block-wrapper .block-item .item-poster img{
  position: absolute;
  left: 0;
  top: 0;
}
.block-wrapper .block-item .item-title{
  height: 24px;
  text-align: center;
  font-size: 13px;
  padding: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow:ellipsis;
  white-space:nowrap;
}
.block-wrapper .block-item .item-title1{
  height: 40px;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.block-wrapper .block-item .item-subTitle{
  height: 32px;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}

.pagination-wrapper{
  margin-top: 30px;
  text-align: center;
}
.pagination-wrapper .pagination{
  display: inline-block;
}
.pagination-wrapper .pagination .pagination-item{
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 28px;
  margin-left: 10px;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
}
.pagination-wrapper .pagination .pagination-item:first-child{
  margin-left: 0;
}
.pagination-wrapper .pagination .pagination-item.active{
  color: #fff;
  background-color: #333;
}
.pagination-wrapper .pagination .page-first{
  width: 48px;
  text-align: center;
}
.pagination-wrapper .pagination .page-on{
  margin-left: 10px;
}

.detail-wrapper .detail-title{
  text-align: center;
  margin-bottom: 20px;
}
.detail-wrapper .detail-title .label-version-1, .detail-wrapper .detail-title .score{
  display: none;
}
.detail-wrapper .info-wrapper .info-left{
  width: 300px;
  height: 400px;
  background-color: #ccc;
}
.detail-wrapper .info-wrapper .info-right{
  padding-left: 20px;
}
.detail-wrapper .info-wrapper .info-right img{
  display: none;
}
.detail-wrapper .info-right .info-right-item{
  margin-bottom: 15px;
}
.detail-wrapper .detail-item{
  overflow: hidden;
}
.detail-wrapper .detail-item .detail-item-title{
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.detail-wrapper .detail-item .detail-item-title1{
  margin-bottom: 15px;
}
.detail-wrapper .detail-item .detail-item-content{
  text-align: justify;
  overflow: hidden;
}
.detail-wrapper .detail-item .detail-item-content .detail-img{
  width: 49%;
  margin-left: 2%;
  margin-top: 15px;
  float: left;
  position: relative;
}
.detail-wrapper .detail-item .detail-item-content .detail-img:nth-child(odd){
  margin-left: 0;
}
.detail-wrapper .detail-item .detail-item-content .detail-img:before{
  content: '';
  display: block;
  padding-bottom: 55%;
  width: 0px;
}
.detail-wrapper .detail-item .detail-item-content .detail-img img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.detail-wrapper .detail-item .detail-item-content span{
  display: none;
}
.detail-wrapper .detail-item .detail-item-content a:hover{
  color: #666;
}
.detail-wrapper .detail-item .download-title{
  text-align: center;
  margin-top: 20px;
}
.twodetail-wrapper .poster{
  display: block;
  width: 50%;
  margin: 0 auto;
}
.twodetail-wrapper p{
  background-color: transparent !important;
}
.threedetail-wrapper .copy-btn{
  margin-left: 15px;
  font-weight: bold;
}
.fourdetail-wrapper .badge{
  color: #333 !important;
}

table{
  width: 100%;
}
table tr{
  height: 40px;
  text-align: center;
}
table tr .btn{
  color: #000;
  font-weight: bold;
}
table tr .width400{
  width: 400px;
  padding: 5px;
}
table tr .width250{
  width: 250px;
  padding: 5px;
  overflow: hidden;
}
table tr .btn:not(:first-child){
  margin-left: 10px;
}
table tr .btn:hover{
  color: #444;
}

.search-wrapper .search-tip{
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}