*{font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB, tahoma, arial, sans-serif;}
body {margin:0; padding:0; font-size:14px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;box-sizing: border-box;}
table,td,tr,th{font-size:12px;font-weight: normal;}
ol,ul {list-style:none;}
li{list-style-type:none;}
a{color: #333;text-decoration: none;cursor: pointer;}
img{vertical-align:top;border:0;width: 100%;height: 100%;}
button{cursor: pointer;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-track{background: #444;}
::-webkit-scrollbar-track-piece{background: #fff;}
::-webkit-scrollbar-thumb{background: #444;border-radius: 4px;}