*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
html, body{
  position: relative;
  height: 100%;
  min-width: 45rem;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}
::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track{
  background: #000;
}
::-webkit-scrollbar-track-piece{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 0.25rem;
}
.theme-cl{
  color: #000;
}
.theme-bg{
  background-color: #000;
}
.theme-bg-btn{
  color: #fff;
  cursor: pointer;
  background-color: #000;
  transition: background-color 0.3s;
  &:hover{
    background-color: #333;
  }
}
.theme-bc{
  border-color: #000;
}
.theme-bd{
  border: 1px solid #000;
}
.clear-border{
  border: none;
  outline: none;
}
.link{
  cursor: pointer;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.flexbox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex1{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;             
  -webkit-flex: 1;    
  -ms-flex: 1;
  flex: 1;
}
.centerbox{
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.verticalbox{
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.centerVertical{
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flexwrap{
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pace{
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive{
  display: none;
}
.pace .pace-progress{
  background: #000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.table-wrapper{
  overflow: hidden;
  .theme-bd;
  .table-header{
    font-size: 0.8rem;
    border-bottom: 1px solid;
    font-weight: bold;
    .theme-bc;
    .flexbox;
  }
  .table-body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .table-list{
    font-size: 0.75rem;
    transition: background-color 0.3s;
    .theme-bc;
    .flexbox;
    &:hover{
      background-color: rgba(0, 0, 0, 0.35);
      color: #fff;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  .table-cell{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-right: 1px solid;
    overflow: hidden;
    .theme-bc;
    &:last-child{
      border-right: none;
    }
    &.table-cell1{
      width: 12rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      padding: 0 0.3rem;
      box-sizing: border-box;
    }
    &.table-cell2{
      width: 5rem;
    }
    &.table-cell3{
      .flex1;
    }
  }
  .table-btn{
    color: inherit;
    margin-left: 0.8rem;
    .link;
    &:first-child{
      margin-left: 0;
    }
  }
  .table-more{
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 0.75rem;
    border-top: 1px solid;
    box-sizing:  border-box;
  }
}